{{>layouts/header}}
<div class="jumbotron">
    <h1>Article 등록</h1>
    <hr>
    <p>articles/index.mustache</p>
    <a href="/articles/new" class="btn btn-primary">글쓰기</a>
</div>

<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">title</th>
        </tr>
        </thead>
        <tbody>
        {{#articles}}
        <tr>
            <td>{{id}}</td>
            <td>{{title}}</td>
        </tr>
        {{/articles}}
        </tbody>
    </table>


</div>


{{>layouts/footer}}